In [4]:
import pandas as pd 
import os
import numpy as np
import matplotlib as plt

In [5]:
os.getcwd()

'C:\\Users\\18174'

In [6]:
os.chdir("C:\\Users\\18174\\OneDrive - UNT System\\Documents")

In [7]:
bigmac=pd.read_csv("bigmac.csv",parse_dates=["date"],index_col=["date","name"])
bigmac.sort_index(inplace=True)
bigmac.head(5)

                     iso_a3 currency_code  local_price  dollar_ex  GDP_dollar
date       name
2000-04-01 Argentina    ARG           ARS         2.50   1.000000         NaN
           Australia    AUS           AUD         2.59   1.680000         NaN
           Brazil       BRA           BRL         2.95   1.790000         NaN
           Britain      GBR           GBP         1.90   0.632911         NaN
           Canada       CAN           CAD         2.85   1.470000         NaN

In [8]:
bigmac.sort_index(ascending=True)

                                iso_a3 currency_code  local_price  \
date       name
2000-04-01 Argentina               ARG           ARS         2.50
           Australia               AUS           AUD         2.59
           Brazil                  BRA           BRL         2.95
           Britain                 GBR           GBP         1.90
           Canada                  CAN           CAD         2.85
...                                ...           ...          ...
2019-07-09 Ukraine                 UKR           UAH        57.00
           United Arab Emirates    ARE           AED        14.75
           United States           USA           USD         5.74
           Uruguay                 URY           UYU       164.00
           Vietnam                 VNM           VND     65000.00

                                    dollar_ex  GDP_dollar
date       name
2000-04-01 Argentina                 1.000000         NaN
           Australia                 1.680000         NaN
           Brazil                    1.790000         NaN
           Britain                   0.632911         NaN
           Canada                    1.470000         NaN
...                                       ...         ...
2019-07-09 Ukraine                  25.647500     2655.94
           United Arab Emirates      3.673150    37732.66
           United States             1.000000    59895.00
           Uruguay                  35.169500    16941.56
           Vietnam               23231.000000     2353.36

[1514 rows x 5 columns]

In [9]:
bigmac.sort_index(ascending=False)

                                iso_a3 currency_code  local_price  \
date       name
2019-07-09 Vietnam                 VNM           VND     65000.00
           Uruguay                 URY           UYU       164.00
           United States           USA           USD         5.74
           United Arab Emirates    ARE           AED        14.75
           Ukraine                 UKR           UAH        57.00
...                                ...           ...          ...
2000-04-01 Canada                  CAN           CAD         2.85
           Britain                 GBR           GBP         1.90
           Brazil                  BRA           BRL         2.95
           Australia               AUS           AUD         2.59
           Argentina               ARG           ARS         2.50

                                    dollar_ex  GDP_dollar
date       name
2019-07-09 Vietnam               23231.000000     2353.36
           Uruguay                  35.169500    16941.56
           United States             1.000000    59895.00
           United Arab Emirates      3.673150    37732.66
           Ukraine                  25.647500     2655.94
...                                       ...         ...
2000-04-01 Canada                    1.470000         NaN
           Britain                   0.632911         NaN
           Brazil                    1.790000         NaN
           Australia                 1.680000         NaN
           Argentina                 1.000000         NaN

[1514 rows x 5 columns]

In [10]:
bigmac.sort_index(ascending=[False,True],inplace=True)

In [11]:
bigmac.sort_index(level=0,ascending=True)

                                iso_a3 currency_code  local_price  \
date       name
2000-04-01 Argentina               ARG           ARS         2.50
           Australia               AUS           AUD         2.59
           Brazil                  BRA           BRL         2.95
           Britain                 GBR           GBP         1.90
           Canada                  CAN           CAD         2.85
...                                ...           ...          ...
2019-07-09 Ukraine                 UKR           UAH        57.00
           United Arab Emirates    ARE           AED        14.75
           United States           USA           USD         5.74
           Uruguay                 URY           UYU       164.00
           Vietnam                 VNM           VND     65000.00

                                    dollar_ex  GDP_dollar
date       name
2000-04-01 Argentina                 1.000000         NaN
           Australia                 1.680000         NaN
           Brazil                    1.790000         NaN
           Britain                   0.632911         NaN
           Canada                    1.470000         NaN
...                                       ...         ...
2019-07-09 Ukraine                  25.647500     2655.94
           United Arab Emirates      3.673150    37732.66
           United States             1.000000    59895.00
           Uruguay                  35.169500    16941.56
           Vietnam               23231.000000     2353.36

[1514 rows x 5 columns]

In [12]:
bigmac

                         iso_a3 currency_code  local_price  dollar_ex  \
date       name
2019-07-09 Argentina        ARG           ARS       120.00  41.804500
           Australia        AUS           AUD         6.15   1.443626
           Austria          AUT           EUR         3.81   0.892339
           Azerbaijan       AZE           AZN         3.95   1.696500
           Bahrain          BHR           BHD         1.40   0.377000
...                         ...           ...          ...        ...
2000-04-01 Sweden           SWE           SEK        24.00   8.840000
           Switzerland      CHE           CHF         5.90   1.700000
           Taiwan           TWN           TWD        70.00  30.600000
           Thailand         THA           THB        55.00  38.000000
           United States    USA           USD         2.51   1.000000

                          GDP_dollar
date       name
2019-07-09 Argentina        14588.01
           Australia        55957.72
           Austria          47383.87
           Azerbaijan        4200.33
           Bahrain          24399.25
...                              ...
2000-04-01 Sweden                NaN
           Switzerland           NaN
           Taiwan                NaN
           Thailand              NaN
           United States         NaN

[1514 rows x 5 columns]

# #extract rows from a multiseries index

In [13]:
bigmac.loc[("2019-07-09","Austria")]

iso_a3                AUT
currency_code         EUR
local_price          3.81
dollar_ex        0.892339
GDP_dollar        47383.9
Name: (2019-07-09 00:00:00, Austria), dtype: object

In [14]:
newbigmac=bigmac.transpose()
newbigmac.head(3)

date          2019-07-09                                                      \
name           Argentina Australia Austria Azerbaijan Bahrain Belgium Brazil
iso_a3               ARG       AUS     AUT        AZE     BHR     BEL    BRA
currency_code        ARS       AUD     EUR        AZN     BHD     EUR    BRL
local_price          120      6.15    3.81       3.95     1.4     4.2   17.5

date                                ... 2000-04-01                   \
name          Britain Canada Chile  ...     Poland Russia Singapore
iso_a3            GBR    CAN   CHL  ...        POL    RUS       SGP
currency_code     GBP    CAD   CLP  ...        PLN    RUB       SGD
local_price      3.29   6.77  2640  ...        5.5   39.5       3.2

date                                                                       \
name          South Africa South Korea Sweden Switzerland Taiwan Thailand
iso_a3                 ZAF         KOR    SWE         CHE    TWN      THA
currency_code          ZAR         KRW    SEK         CHF    TWD      THB
local_price              9        3000     24         5.9     70       55

date
name          United States
iso_a3                  USA
currency_code           USD
local_price            2.51

[3 rows x 1514 columns]

In [15]:
bigmac.drop(columns=["iso_a3","currency_code","dollar_ex","GDP_dollar"],inplace=True)

In [16]:
bigmac.loc[('2000-04-01','Sweden')]
bigmac.columns

Index(['local_price'], dtype='object')

In [17]:
bigmac=bigmac.transpose()
bigmac.columns
bigmac.index

Index(['local_price'], dtype='object')

In [402]:
bigmac.loc[('local_price'),['2019-07-09','Argentina']]

date        name
2019-07-09  Argentina                 120.00
            Australia                   6.15
            Austria                     3.81
            Azerbaijan                  3.95
            Bahrain                     1.40
                                      ...
            Ukraine                    57.00
            United Arab Emirates       14.75
            United States               5.74
            Uruguay                   164.00
            Vietnam                 65000.00
Name: local_price, Length: 72, dtype: float64

In [18]:
arrays = [
    ["bar", "bar", "baz", "baz", "foo", "foo", "qux", "qux"],
       ["one", "two", "one", "two", "one", "two", "one", "two"],
]

In [19]:
tuples=list(zip(*arrays))

In [20]:
tuples

[('bar', 'one'),
 ('bar', 'two'),
 ('baz', 'one'),
 ('baz', 'two'),
 ('foo', 'one'),
 ('foo', 'two'),
 ('qux', 'one'),
 ('qux', 'two')]

In [21]:
index=pd.MultiIndex.from_tuples(tuples,names=['first','second'])

In [22]:
index

MultiIndex([('bar', 'one'),
            ('bar', 'two'),
            ('baz', 'one'),
            ('baz', 'two'),
            ('foo', 'one'),
            ('foo', 'two'),
            ('qux', 'one'),
            ('qux', 'two')],
           names=['first', 'second'])

In [23]:
s=pd.Series(np.random.randn(8), index=index)

In [24]:
d={"a":[1,2],"b":[3,4],"c":[4,5],"d":[6,7],"e":[8,9]}
pd.Series(d)

a    [1, 2]
b    [3, 4]
c    [4, 5]
d    [6, 7]
e    [8, 9]
dtype: object

In [25]:
df=pd.DataFrame(data=d)
df

   a  b  c  d  e
0  1  3  4  6  8
1  2  4  5  7  9

                          local_price
date       name
2019-07-09 Argentina           120.00
           Australia             6.15
           Austria               3.81
           Azerbaijan            3.95
           Bahrain               1.40
...                               ...
2000-04-01 Sweden               24.00
           Switzerland           5.90
           Taiwan               70.00
           Thailand             55.00
           United States         2.51

[1514 rows x 1 columns]

In [304]:
from math import pi
[str(round(pi, i)) for i in range(1,6)]

['3.1', '3.14', '3.142', '3.1416', '3.14159']

hello
hello
hello
hello
hello

In [313]:
[str(round(pi, i)) for i in range (1,6)]

['3.1', '3.14', '3.142', '3.1416', '3.14159']

NameError: name 'np' is not defined

NameError: name 'random' is not defined

[-0.5150056158413747,
 -0.8882542893209011,
 0.07679628228412673,
 -1.1734654898574068,
 1.4275560321259473]

'[-0.5150056158413747, -0.8882542893209011, 0.07679628228412673, -1.1734654898574068, 1.4275560321259473]'