In [2]:
import pandas as pd
import datetime as dt #import datetime library with alias dt

In [ ]:
#date time is part of the python language while pandas is not.

# Review of Python datetime object

In [ ]:
#there is a datatime method we can call on the date time library, both a datetimemodule and within it a datetime method. date is an object used to store a date(included a year month a day) while a datetime will include a year month day minutes and seconds. More specific for timestamp

In [21]:
birthday=dt.date(1997, 2, 20)  #(year, month, day)

In [22]:
birthday.year #returns year

1997

In [23]:
birthday.month #returns month

2

In [24]:
birthday.day #returns day

20

In [13]:
dt.datetime(2010,1,20,8)  # 8 am on Jan 20 2010  dt.datetime(year,month,day,hour,minute,second)

datetime.datetime(2010, 1, 20, 8, 0)

In [ ]:
dt.datetime(2010,1,20,8,13,57)

In [19]:
str(dt.datetime(2010,1,20,17,13,57)) #in afternoon must do military time for 5 pm 5:13:57 pm on Jan 20 2010

'2010-01-20 17:13:57'

In [25]:
str(birthday)

'1997-02-20'

In [26]:
boyfriend_birthday=dt.datetime(1994,4,1,17,13,24)

In [27]:
str(boyfriend_birthday)

'1994-04-01 17:13:24'

In [33]:
boyfriend_birthday.year
boyfriend_birthday.month
boyfriend_birthday.day
boyfriend_birthday.hour
boyfriend_birthday.minute

13

# The pandas Timestamp object

In [3]:
import pandas as pd
import datetime as dt

In [4]:
pd.Timestamp("2021-06-21")  #can use either format of date

Timestamp('2021-06-21 00:00:00')

In [6]:
pd.Timestamp("2012/06/03")

Timestamp('2012-06-03 00:00:00')

In [7]:
pd.Timestamp("1/2/2015")

Timestamp('2015-01-02 00:00:00')

In [8]:
pd.Timestamp("02-20-1997 21:07:01") #can reverse and do month-day-year however pandas would not know day-month-year unless first number is > 12

Timestamp('1997-02-20 21:07:01')

In [11]:
pd.Timestamp(dt.datetime(2015,4,2))

Timestamp('2015-04-02 00:00:00')

# Pandas DatetimeIndex Object

In [ ]:
#basically a container for multiple pandas timestamps

In [12]:
dates=["01-02-2016","02-20-1997","04-01-1994"]

In [13]:
pd.DatetimeIndex(dates) #converts strings to timestamps, easy to work w/multiple timestamps

DatetimeIndex(['2016-01-02', '1997-02-20', '1994-04-01'], dtype='datetime64[ns]', freq=None)

In [20]:
dates=[dt.datetime(1994,4,1),dt.datetime(1997,2,20),dt.datetime(2000,2,24)]#converts date objects into pandas timestamp objects and bundles into DatetimeIndex to store them all as one. Ideal usage is for DatetimeIndex to serve as the index for one of our objects 
dtindex=pd.DatetimeIndex(dates)

In [21]:
values=[100,200,300]

In [22]:
pd.Series(data=values,index=dtindex) #DatetimeIndex now is the Index for series

1994-04-01    100
1997-02-20    200
2000-02-24    300
dtype: int64

# The pd.to_datetime() method

In [37]:
#most common reason is converting a pandas existing series into a datetime object 
pd.to_datetime("04-01-1994")  
pd.to_datetime(dt.datetime(1994,4,1,9,3,1))
pd.to_datetime(dt.date(1997,2,20)) 
pd.to_datetime(['02-20-1997','1994/4/1','2018','July 4,1997']) #can also pass a list 
#can use any format of date, regardless of how fed in, pandas is smart enough to figure out what we are talking about. If give single year pandas assumes jan 1

DatetimeIndex(['1997-02-20', '1994-04-01', '2018-01-01', '1997-07-04'], dtype='datetime64[ns]', freq=None)

In [42]:
times=pd.Series(["03-04-1960","2021/2/4","2019/4/2"]) #creating series and naming it times 
times

0    03-04-1960
1      2021/2/4
2      2019/4/2
dtype: object

In [43]:
pd.to_datetime(times) #can also gives pandas series, goes in all values in series and converts them all into timestamps and also converts container into for them into a DatetimeIndex object

0   1960-03-04
1   2021-02-04
2   2019-04-02
dtype: datetime64[ns]

In [46]:
date=pd.Series(["july 4, 2021", "2-31-2014","1-1-10","hello"])

In [48]:
#pd.to_datetime(date)  <- ERROR - cant convert with a string value , error parameter set to 'raise' & means if an error is encountered it raises a red flag, but can change errors perameter to 'coerce'

In [50]:
pd.to_datetime(date,errors='coerce')

0   2021-07-04
1          NaT
2   2010-01-01
3          NaT
dtype: datetime64[ns]

In [51]:
#a unix is a way to store time in seconds. So by storing datetime as number of seconds it is easy to store as a date in time.

In [56]:
pd.to_datetime([1349720105, 1349806505, 1349892905, 1349892905, #python list of unix times -> number of seconds since 1/1/1970
               1349979305,], unit='s')                     #to unit parameter give arguement of 's' so pandas knows talking about unix time

DatetimeIndex(['1973-07-02 20:15:43', '1970-06-06 02:27:14',
               '1971-02-02 06:30:44', '1983-09-15 05:39:01'],
              dtype='datetime64[ns]', freq=None)

# Create Range of Dates with the pd.date_range() method

In [61]:
times=pd.date_range(start="01/01/2015",end="02/20/2020",freq="D")#date is inclusives -specific the date and that day & the interval (freq parameter) specifies the interval, E.g- set at "D" will increment over start and end date each day, if set at "2D" will proceed in increments of 2 days,"B" means business days only, "W" is short for weekly, "H" is hourly, could do "6H" for every 6 hours, "M" is month ends,"MS" first of every month,"A" stores last day of each year  )

In [62]:
type(times) #pandas generated DatetimeIndex

pandas.core.indexes.datetimes.DatetimeIndex

In [63]:
pd.date_range(start="03-01-2018",periods=25, freq="D") #generates datetime index with 25 values since we specified we wanted 25 in our periods parameter

DatetimeIndex(['2018-03-01', '2018-03-02', '2018-03-03', '2018-03-04',
               '2018-03-05', '2018-03-06', '2018-03-07', '2018-03-08',
               '2018-03-09', '2018-03-10', '2018-03-11', '2018-03-12',
               '2018-03-13', '2018-03-14', '2018-03-15', '2018-03-16',
               '2018-03-17', '2018-03-18', '2018-03-19', '2018-03-20',
               '2018-03-21', '2018-03-22', '2018-03-23', '2018-03-24',
               '2018-03-25'],
              dtype='datetime64[ns]', freq='D')

In [65]:
pd.date_range(start="2012-09-09",periods=25, freq="B") #2012-09-09 would not be included because it is not a business day

DatetimeIndex(['2012-09-10', '2012-09-11', '2012-09-12', '2012-09-13',
               '2012-09-14', '2012-09-17', '2012-09-18', '2012-09-19',
               '2012-09-20', '2012-09-21', '2012-09-24', '2012-09-25',
               '2012-09-26', '2012-09-27', '2012-09-28', '2012-10-01',
               '2012-10-02', '2012-10-03', '2012-10-04', '2012-10-05',
               '2012-10-08', '2012-10-09', '2012-10-10', '2012-10-11',
               '2012-10-12'],
              dtype='datetime64[ns]', freq='B')

In [71]:
pd.date_range(end="1999-12-31",periods=40, freq="W-SUN") #starts at the end points and moves back one day at a time until it has 20 total values

DatetimeIndex(['1999-03-28', '1999-04-04', '1999-04-11', '1999-04-18',
               '1999-04-25', '1999-05-02', '1999-05-09', '1999-05-16',
               '1999-05-23', '1999-05-30', '1999-06-06', '1999-06-13',
               '1999-06-20', '1999-06-27', '1999-07-04', '1999-07-11',
               '1999-07-18', '1999-07-25', '1999-08-01', '1999-08-08',
               '1999-08-15', '1999-08-22', '1999-08-29', '1999-09-05',
               '1999-09-12', '1999-09-19', '1999-09-26', '1999-10-03',
               '1999-10-10', '1999-10-17', '1999-10-24', '1999-10-31',
               '1999-11-07', '1999-11-14', '1999-11-21', '1999-11-28',
               '1999-12-05', '1999-12-12', '1999-12-19', '1999-12-26'],
              dtype='datetime64[ns]', freq='W-SUN')

# The .dt Accessor

In [93]:
a_bunch_of_dates=pd.date_range(start="02/20/1997",end="02/20/2010",freq="24D")

In [94]:
s=pd.Series(a_bunch_of_dates)

In [78]:
s.head(3)   #used the daterange method to create a date range index and passed it as our data source for pandas series constructor, each reprsented as a pandas timestamp

0   1997-02-20
1   1997-03-16
2   1997-04-09
dtype: datetime64[ns]

In [80]:
s.dt.day   #think of using .dt like .str

0      20
1      16
2       9
3       3
4      27
       ..
193    27
194    20
195    14
196     7
197    31
Length: 198, dtype: int64

In [81]:
s.dt.month  #if wanted to see what day of month most common

0       2
1       3
2       4
3       5
4       5
       ..
193    10
194    11
195    12
196     1
197     1
Length: 198, dtype: int64

In [97]:
s.dt.day_name() #would be useful for finding day of work week in financial data

0       Thursday
1         Sunday
2      Wednesday
3       Saturday
4        Tuesday
         ...
193      Tuesday
194       Friday
195       Monday
196     Thursday
197       Sunday
Length: 198, dtype: object