In [1]:
import pandas as pd
import datetime as dt #import datetime library with alias dt

In [2]:
#date time is part of the python language while pandas is not.

# Review of Python datetime object

In [3]:
#there is a datetime method we can call on the date time library.Within the datetime module there is a datetime method. date is an object used to store a date(included a year month a day) while a datetime will include a year month day minutes and seconds. More specific for timestamp

In [4]:
birthday=dt.date(1997, 2, 20)  #(year, month, day)

In [5]:
birthday.year #returns year

1997

In [6]:
birthday.month #returns month

2

In [7]:
birthday.day #returns day

20

In [8]:
dt.datetime(2010,1,20,8)  # 8 am on Jan 20 2010  dt.datetime(year,month,day,hour,minute,second)

datetime.datetime(2010, 1, 20, 8, 0)

In [9]:
dt.datetime(2010,1,20,8,13,57)

datetime.datetime(2010, 1, 20, 8, 13, 57)

In [10]:
str(dt.datetime(2010,1,20,17,13,57))# must use military time

'2010-01-20 17:13:57'

In [11]:
str(birthday)

'1997-02-20'

In [12]:
boyfriend_birthday=dt.datetime(1994,4,1,17,13,24)

In [13]:
str(boyfriend_birthday)

'1994-04-01 17:13:24'

In [14]:
boyfriend_birthday.year
boyfriend_birthday.month
boyfriend_birthday.day
boyfriend_birthday.hour
boyfriend_birthday.minute

13

# The pandas Timestamp object

In [15]:
import pandas as pd
import datetime as dt

In [16]:
pd.Timestamp("2021-06-21")  #can use either format of date

Timestamp('2021-06-21 00:00:00')

In [17]:
pd.Timestamp("2012/06/03")

Timestamp('2012-06-03 00:00:00')

In [18]:
pd.Timestamp("1/2/2015")

Timestamp('2015-01-02 00:00:00')

In [19]:
pd.Timestamp("02-20-1997 21:07:01") #can reverse and do month-day-year however pandas would not know day-month-year unless first number is > 12

Timestamp('1997-02-20 21:07:01')

In [20]:
pd.Timestamp(dt.datetime(2015,4,2))

Timestamp('2015-04-02 00:00:00')

# Pandas DatetimeIndex Object

In [21]:
#basically a container for multiple pandas timestamps

In [22]:
dates=["01-02-2016","02-20-1997","04-01-1994"]

In [23]:
pd.DatetimeIndex(dates) #converts strings to timestamps, easy to work w/multiple timestamps

DatetimeIndex(['2016-01-02', '1997-02-20', '1994-04-01'], dtype='datetime64[ns]', freq=None)

In [24]:
dates=[dt.datetime(1994,4,1),dt.datetime(1997,2,20),dt.datetime(2000,2,24)]#converts date objects into pandas timestamp objects and bundles into DatetimeIndex to store them all as one. Ideal usage is for DatetimeIndex to serve as the index for one of our objects 
dtindex=pd.DatetimeIndex(dates)

In [25]:
values=[100,200,300]

In [26]:
pd.Series(data=values,index=dtindex) #DatetimeIndex now is the Index for series

1994-04-01    100
1997-02-20    200
2000-02-24    300
dtype: int64

# The pd.to_datetime() method

In [27]:
#most common reason is converting a pandas existing series into a datetime object 
pd.to_datetime("04-01-1994")  
pd.to_datetime(dt.datetime(1994,4,1,9,3,1))
pd.to_datetime(dt.date(1997,2,20)) 
pd.to_datetime(['02-20-1997','1994/4/1','2018','July 4,1997']) #can also pass a list 
#can use any format of date, regardless of how fed in, pandas is smart enough to figure out what we are talking about. If give single year pandas assumes jan 1

DatetimeIndex(['1997-02-20', '1994-04-01', '2018-01-01', '1997-07-04'], dtype='datetime64[ns]', freq=None)

In [28]:
times=pd.Series(["03-04-1960","2021/2/4","2019/4/2"]) #creating series and naming it times 
times

0    03-04-1960
1      2021/2/4
2      2019/4/2
dtype: object

In [29]:
pd.to_datetime(times) #can also gives pandas series, goes in all values in series and converts them all into timestamps and also converts container into for them into a DatetimeIndex object

0   1960-03-04
1   2021-02-04
2   2019-04-02
dtype: datetime64[ns]

In [30]:
date=pd.Series(["july 4, 2021", "2-31-2014","1-1-10","hello"])

In [31]:
#pd.to_datetime(date)  <- ERROR - cant convert with a string value , error parameter set to 'raise' & means if an error is encountered it raises a red flag, but can change errors perameter to 'coerce'

In [32]:
pd.to_datetime(date,errors='coerce')

0   2021-07-04
1          NaT
2   2010-01-01
3          NaT
dtype: datetime64[ns]

In [33]:
#a unix is a way to store time in seconds. So by storing datetime as number of seconds it is easy to store as a date in time.

In [34]:
pd.to_datetime([1349720105, 1349806505, 1349892905, 1349892905, #python list of unix times -> number of seconds since 1/1/1970
               1349979305,], unit='s')                     #to unit parameter give arguement of 's' so pandas knows talking about unix time

DatetimeIndex(['2012-10-08 18:15:05', '2012-10-09 18:15:05',
               '2012-10-10 18:15:05', '2012-10-10 18:15:05',
               '2012-10-11 18:15:05'],
              dtype='datetime64[ns]', freq=None)

# Create Range of Dates with the pd.date_range() method

In [35]:
times=pd.date_range(start="01/01/2015",end="02/20/2020",freq="D")#date is inclusives -specific the date and that day & the interval (freq parameter) specifies the interval, E.g- set at "D" will increment over start and end date each day, if set at "2D" will proceed in increments of 2 days,"B" means business days only, "W" is short for weekly, "H" is hourly, could do "6H" for every 6 hours, "M" is month ends,"MS" first of every month,"A" stores last day of each year  )

In [36]:
type(times) #pandas generated DatetimeIndex

pandas.core.indexes.datetimes.DatetimeIndex

In [37]:
pd.date_range(start="03-01-2018",periods=25, freq="D") #generates datetime index with 25 values since we specified we wanted 25 in our periods parameter

DatetimeIndex(['2018-03-01', '2018-03-02', '2018-03-03', '2018-03-04',
               '2018-03-05', '2018-03-06', '2018-03-07', '2018-03-08',
               '2018-03-09', '2018-03-10', '2018-03-11', '2018-03-12',
               '2018-03-13', '2018-03-14', '2018-03-15', '2018-03-16',
               '2018-03-17', '2018-03-18', '2018-03-19', '2018-03-20',
               '2018-03-21', '2018-03-22', '2018-03-23', '2018-03-24',
               '2018-03-25'],
              dtype='datetime64[ns]', freq='D')

In [38]:
pd.date_range(start="2012-09-09",periods=25, freq="B") #2012-09-09 would not be included because it is not a business day

DatetimeIndex(['2012-09-10', '2012-09-11', '2012-09-12', '2012-09-13',
               '2012-09-14', '2012-09-17', '2012-09-18', '2012-09-19',
               '2012-09-20', '2012-09-21', '2012-09-24', '2012-09-25',
               '2012-09-26', '2012-09-27', '2012-09-28', '2012-10-01',
               '2012-10-02', '2012-10-03', '2012-10-04', '2012-10-05',
               '2012-10-08', '2012-10-09', '2012-10-10', '2012-10-11',
               '2012-10-12'],
              dtype='datetime64[ns]', freq='B')

In [39]:
pd.date_range(end="1999-12-31",periods=40, freq="W-SUN") #starts at the end points and moves back one day at a time until it has 20 total values

DatetimeIndex(['1999-03-28', '1999-04-04', '1999-04-11', '1999-04-18',
               '1999-04-25', '1999-05-02', '1999-05-09', '1999-05-16',
               '1999-05-23', '1999-05-30', '1999-06-06', '1999-06-13',
               '1999-06-20', '1999-06-27', '1999-07-04', '1999-07-11',
               '1999-07-18', '1999-07-25', '1999-08-01', '1999-08-08',
               '1999-08-15', '1999-08-22', '1999-08-29', '1999-09-05',
               '1999-09-12', '1999-09-19', '1999-09-26', '1999-10-03',
               '1999-10-10', '1999-10-17', '1999-10-24', '1999-10-31',
               '1999-11-07', '1999-11-14', '1999-11-21', '1999-11-28',
               '1999-12-05', '1999-12-12', '1999-12-19', '1999-12-26'],
              dtype='datetime64[ns]', freq='W-SUN')

# The .dt Accessor

In [40]:
a_bunch_of_dates=pd.date_range(start="02/20/1997",end="02/20/2010",freq="24D")

In [41]:
s=pd.Series(a_bunch_of_dates)

In [42]:
s.head(3)   #used the daterange method to create a date range index and passed it as our data source for pandas series constructor, each reprsented as a pandas timestamp

0   1997-02-20
1   1997-03-16
2   1997-04-09
dtype: datetime64[ns]

In [43]:
s.dt.day   #think of using .dt like .str

0      20
1      16
2       9
3       3
4      27
       ..
193    27
194    20
195    14
196     7
197    31
Length: 198, dtype: int64

In [44]:
s.dt.month  #if wanted to see what day of month most common

0       2
1       3
2       4
3       5
4       5
       ..
193    10
194    11
195    12
196     1
197     1
Length: 198, dtype: int64

In [45]:
s.dt.day_name() #would be useful for finding day of work week in financial data

0       Thursday
1         Sunday
2      Wednesday
3       Saturday
4        Tuesday
         ...
193      Tuesday
194       Friday
195       Monday
196     Thursday
197       Sunday
Length: 198, dtype: object

In [46]:
mask=s.dt.is_quarter_start

In [47]:
s[mask] #pulls only dates from the start of a quarter, could also do s.dt.is_month_start or s.dt.is_month_end

74    2002-01-01
112   2004-07-01
dtype: datetime64[ns]

# Import finanical dataset with pandas_datareader Library

In [48]:
import datetime as dt
from pandas_datareader import data

In [49]:
import requests

In [50]:
import yfinance as yf
import yfinance as yfin
yfin.pdr_override()   #As of July 2021 need to imort yfinance library

In [51]:
stocks=data.DataReader(tickers='AMC',data_source='yahoo',start='2015-01-01',end='2019-01-01')

[*********************100%***********************]  1 of 1 completed

In [52]:
stocks.values

array([[2.62600002e+01, 2.62999992e+01, 2.49300003e+01, 2.56299992e+01,
        1.89002666e+01, 4.20900000e+05],
       [2.54899998e+01, 2.55599995e+01, 2.49300003e+01, 2.49699993e+01,
        1.84135685e+01, 2.46500000e+05],
       [2.49899998e+01, 2.56000004e+01, 2.42700005e+01, 2.51700001e+01,
        1.85610523e+01, 2.71500000e+05],
       ...,
       [1.24300003e+01, 1.25000000e+01, 1.16599998e+01, 1.21999998e+01,
        1.12765522e+01, 1.77770000e+06],
       [1.22500000e+01, 1.26499996e+01, 1.20200005e+01, 1.24200001e+01,
        1.14799004e+01, 1.66810000e+06],
       [1.25000000e+01, 1.27200003e+01, 1.19099998e+01, 1.22799997e+01,
        1.13504963e+01, 1.24680000e+06]])

In [53]:
stocks.columns

Index(['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [54]:
stocks.index

DatetimeIndex(['2015-01-02', '2015-01-05', '2015-01-06', '2015-01-07',
               '2015-01-08', '2015-01-09', '2015-01-12', '2015-01-13',
               '2015-01-14', '2015-01-15',
               ...
               '2018-12-17', '2018-12-18', '2018-12-19', '2018-12-20',
               '2018-12-21', '2018-12-24', '2018-12-26', '2018-12-27',
               '2018-12-28', '2018-12-31'],
              dtype='datetime64[ns]', name='Date', length=1006, freq=None)

In [55]:
stocks.axes

[DatetimeIndex(['2015-01-02', '2015-01-05', '2015-01-06', '2015-01-07',
                '2015-01-08', '2015-01-09', '2015-01-12', '2015-01-13',
                '2015-01-14', '2015-01-15',
                ...
                '2018-12-17', '2018-12-18', '2018-12-19', '2018-12-20',
                '2018-12-21', '2018-12-24', '2018-12-26', '2018-12-27',
                '2018-12-28', '2018-12-31'],
               dtype='datetime64[ns]', name='Date', length=1006, freq=None),
 Index(['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')]

# Selecting Rows from a DataFrame with a DatetimeIndex

In [56]:
import yfinance as yf
import yfinance as yfin
yfin.pdr_override()   #As of July 2021 need to imort yfinance library 


df = data.get_data_yahoo("AMC", start="2018-01-01", end="2020-12-31")
df

[*********************100%***********************]  1 of 1 completed

             Open   High    Low  Close  Adj Close    Volume
Date
2018-01-02  15.20  15.65  14.90  15.40  12.549152   2257200
2018-01-03  15.45  15.50  14.90  15.00  12.223200   1631000
2018-01-04  15.00  15.10  14.35  14.45  11.775017   2141000
2018-01-05  14.50  14.56  14.05  14.10  11.489808   2009000
2018-01-08  14.30  14.35  13.65  13.80  11.245345   2347400
...           ...    ...    ...    ...        ...       ...
2020-12-23   2.58   2.65   2.54   2.56   2.560000  15724800
2020-12-24   2.59   2.60   2.48   2.51   2.510000  11094200
2020-12-28   2.63   2.63   2.36   2.39   2.390000  23942700
2020-12-29   2.44   2.46   2.28   2.29   2.290000  21086100
2020-12-30   2.30   2.30   2.13   2.16   2.160000  40278400

[755 rows x 6 columns]

In [57]:
df.loc['2018-01-02'] #can work but code below is more efficient

Open         1.520000e+01
High         1.565000e+01
Low          1.490000e+01
Close        1.540000e+01
Adj Close    1.254915e+01
Volume       2.257200e+06
Name: 2018-01-02 00:00:00, dtype: float64

In [58]:
df.loc[pd.Timestamp("2020-12-23")]#generally a good idea to wrap the date inside a pandas timestamp object, so create a timestamp object & use that to index

Open                2.58
High                2.65
Low                 2.54
Close               2.56
Adj Close           2.56
Volume       15724800.00
Name: 2020-12-23 00:00:00, dtype: float64

In [59]:
df.loc["2018-01-02":"2018-01-05"] #.loc is inclusive

             Open   High    Low  Close  Adj Close   Volume
Date
2018-01-02  15.20  15.65  14.90  15.40  12.549152  2257200
2018-01-03  15.45  15.50  14.90  15.00  12.223200  1631000
2018-01-04  15.00  15.10  14.35  14.45  11.775017  2141000
2018-01-05  14.50  14.56  14.05  14.10  11.489808  2009000

In [60]:
df.iloc[0] #can also iloc with index postion

Open         1.520000e+01
High         1.565000e+01
Low          1.490000e+01
Close        1.540000e+01
Adj Close    1.254915e+01
Volume       2.257200e+06
Name: 2018-01-02 00:00:00, dtype: float64

In [61]:
df.iloc[500]

Open         7.300000e+00
High         7.400000e+00
Low          7.200000e+00
Close        7.300000e+00
Adj Close    7.255488e+00
Volume       3.910500e+06
Name: 2019-12-27 00:00:00, dtype: float64

In [62]:
#pull out multiple rows
df.loc[[pd.Timestamp("2020-12-23"),pd.Timestamp("2020-12-30")]]

            Open  High   Low  Close  Adj Close    Volume
Date
2020-12-23  2.58  2.65  2.54   2.56       2.56  15724800
2020-12-30  2.30  2.30  2.13   2.16       2.16  40278400

In [63]:
#slicing 
df.loc["2018-01-01":"2019-01-01"].count()

Open         251
High         251
Low          251
Close        251
Adj Close    251
Volume       251
dtype: int64

In [64]:
df.iloc[0:5]

             Open   High    Low  Close  Adj Close   Volume
Date
2018-01-02  15.20  15.65  14.90  15.40  12.549152  2257200
2018-01-03  15.45  15.50  14.90  15.00  12.223200  1631000
2018-01-04  15.00  15.10  14.35  14.45  11.775017  2141000
2018-01-05  14.50  14.56  14.05  14.10  11.489808  2009000
2018-01-08  14.30  14.35  13.65  13.80  11.245345  2347400

In [65]:
df.iloc[[10,15,30]] #iloc is exclusive

            Open   High    Low  Close  Adj Close   Volume
Date
2018-01-17  13.7  13.95  13.66  13.75  11.204602  1023800
2018-01-24  13.4  13.65  13.10  13.20  10.756416  1724800
2018-02-14  13.7  14.50  13.70  14.25  11.612041  1981000

In [66]:
import yfinance as yf
import yfinance as yfin
yfin.pdr_override()   #As of July 2021 need to imort yfinance library 


AMC = data.get_data_yahoo("AMC", start="2018-12-31", end="2021-07-07")
AMC

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close    Volume
Date
2018-12-31  12.500000  12.720000  11.910000  12.280000  11.350496   1246800
2019-01-02  12.010000  13.080000  11.900000  12.890000  11.914326   1374900
2019-01-03  12.800000  13.540000  12.630000  13.060000  12.071457   1392400
2019-01-04  13.220000  13.690000  13.020000  13.540000  12.515124   1025000
2019-01-07  13.550000  14.260000  13.370000  14.120000  13.051224   1119200
...               ...        ...        ...        ...        ...       ...
2021-06-29  59.060001  61.000000  56.180000  56.430000  56.430000  63604100
2021-06-30  56.000000  58.180000  54.650002  56.680000  56.680000  59020600
2021-07-01  56.860001  57.709999  52.529999  54.220001  54.220001  57549900
2021-07-02  52.770000  53.250000  47.770000  51.959999  51.959999  90271500
2021-07-06  53.459999  55.070000  49.700001  49.959999  49.959999  62131100

[633 rows x 6 columns]

In [67]:
higher_than_62=AMC["High"]>62

In [68]:
AMC[higher_than_62] #AMC stock vlaues from end of year 2018 to present day with a High greater than 62

                 Open       High        Low      Close  Adj Close     Volume
Date
2021-06-02  37.520000  72.620003  35.590000  62.549999  62.549999  766462500
2021-06-03  58.099998  68.800003  37.660000  51.340000  51.340000  598142200
2021-06-15  58.389999  64.709999  56.730000  59.040001  59.040001  285582100
2021-06-17  54.000000  63.830002  52.980000  60.730000  60.730000  303576000
2021-06-18  61.259998  64.959999  56.849998  59.259998  59.259998  243645900
2021-06-21  61.340000  63.009998  53.430000  55.689999  55.689999  185876100

In [69]:
twomonths=AMC.loc["2021-06-01":"2021-07-07"]
twomonths

                 Open       High        Low      Close  Adj Close     Volume
Date
2021-06-01  31.889999  33.529999  28.530001  32.040001  32.040001  508694600
2021-06-02  37.520000  72.620003  35.590000  62.549999  62.549999  766462500
2021-06-03  58.099998  68.800003  37.660000  51.340000  51.340000  598142200
2021-06-04  48.790001  57.480000  46.040001  47.910000  47.910000  337710100
2021-06-07  52.380001  59.680000  51.500000  55.000000  55.000000  349094900
2021-06-08  57.160000  60.619999  52.770000  55.049999  55.049999  214490300
2021-06-09  52.200001  53.389999  48.119999  49.340000  49.340000  150361300
2021-06-10  47.930000  51.500000  39.709999  42.810001  42.810001  224860600
2021-06-11  44.680000  49.599998  42.009998  49.400002  49.400002  218006600
2021-06-14  51.830002  60.549999  51.520000  57.000000  57.000000  301467300
2021-06-15  58.389999  64.709999  56.730000  59.040001  59.040001  285582100
2021-06-16  56.139999  57.340000  51.860001  55.180000  55.180000  166450700
2021-06-17  54.000000  63.830002  52.980000  60.730000  60.730000  303576000
2021-06-18  61.259998  64.959999  56.849998  59.259998  59.259998  243645900
2021-06-21  61.340000  63.009998  53.430000  55.689999  55.689999  185876100
2021-06-22  54.099998  58.740002  51.049999  58.270000  58.270000  169494100
2021-06-23  57.040001  61.099998  56.799999  58.299999  58.299999  116291800
2021-06-24  57.980000  58.759998  55.660000  56.700001  56.700001   80351200
2021-06-25  55.750000  56.290001  52.970001  54.060001  54.060001   77596900
2021-06-28  55.099998  59.360001  54.330002  58.110001  58.110001   99310200
2021-06-29  59.060001  61.000000  56.180000  56.430000  56.430000   63604100
2021-06-30  56.000000  58.180000  54.650002  56.680000  56.680000   59020600
2021-07-01  56.860001  57.709999  52.529999  54.220001  54.220001   57549900
2021-07-02  52.770000  53.250000  47.770000  51.959999  51.959999   90271500
2021-07-06  53.459999  55.070000  49.700001  49.959999  49.959999   62131100

In [70]:
higher_than_60=twomonths["High"]>=60

In [71]:
good_day=twomonths[higher_than_60] #AMC High >= 60

In [72]:
birthdays=pd.date_range(start="02/20/1997",end="12/31/2021",freq=pd.DateOffset(years=1)) #will look at same date each year

In [73]:
bday_stocks=stocks.index.isin(birthdays)

In [74]:
stocks[bday_stocks] #AMC stocks that fall on my birthday

                 Open   High        Low      Close  Adj Close   Volume
Date
2015-02-20  32.580002  32.66  32.040001  32.610001  24.047518   314700
2018-02-20  14.650000  15.00  14.310000  14.500000  11.815761  2002300

In [75]:
someday=stocks.index[500] #datetime index is bundle of timestamp object-> each timestamp object represents a date time ( a given momemnt in time)

In [76]:
someday

Timestamp('2016-12-27 00:00:00')

In [77]:
#some available methods to use to get information on this timestamp object
someday.month
someday.year  #can invoke any of these on a datetime index
someday.is_month_start
someday.is_month_end
someday.is_quarter_end
someday.is_quarter_start
someday.day

27

In [78]:
someday.month_name()

'December'

In [79]:
stocks.index.day_name()

Index(['Friday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday',
       'Monday', 'Tuesday', 'Wednesday', 'Thursday',
       ...
       'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Monday',
       'Wednesday', 'Thursday', 'Friday', 'Monday'],
      dtype='object', name='Date', length=1006)

In [80]:
stocks.insert(0, "Day of Week", stocks.index.day_name()) #add day of week column at index 0

In [81]:
stocks

,Day of Week,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,,
2015-01-02,Friday,26.260000,26.299999,24.930000,25.629999,18.900267,420900
2015-01-05,Monday,25.490000,25.559999,24.930000,24.969999,18.413568,246500
2015-01-06,Tuesday,24.990000,25.600000,24.270000,25.170000,18.561052,271500
2015-01-07,Wednesday,25.309999,25.670000,25.010000,25.580000,18.863400,175400
2015-01-08,Thursday,25.760000,26.120001,25.309999,25.830000,19.047752,192800
...,...,...,...,...,...,...,...
2018-12-24,Monday,12.280000,12.540000,12.060000,12.260000,11.332010,861400
2018-12-26,Wednesday,12.350000,12.760000,11.940000,12.680000,11.720221,1574100
2018-12-27,Thursday,12.430000,12.500000,11.660000,12.200000,11.276552,1777700
2018-12-28,Friday,12.250000,12.650000,12.020000,12.420000,11.479900,1668100
2018-12-31,Monday,12.500000,12.720000,11.910000,12.280000,11.350496,1246800

In [82]:
stocks.index.day_name()

Index(['Friday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday',
       'Monday', 'Tuesday', 'Wednesday', 'Thursday',
       ...
       'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Monday',
       'Wednesday', 'Thursday', 'Friday', 'Monday'],
      dtype='object', name='Date', length=1006)