In [ ]:
import pandas as pd
import datetime as dt #import datetime library with alias dt

In [ ]:
#date time is part of the python language while pandas is not.

# Review of Python datetime object

In [ ]:
#there is a datetime method we can call on the date time library.Within the datetime module there is a datetime method. date is an object used to store a date(included a year month a day) while a datetime will include a year month day minutes and seconds. More specific for timestamp

In [ ]:
birthday=dt.date(1997, 2, 20)  #(year, month, day)

In [ ]:
birthday.year #returns year

In [ ]:
birthday.month #returns month

In [ ]:
birthday.day #returns day

In [ ]:
dt.datetime(2010,1,20,8)  # 8 am on Jan 20 2010  dt.datetime(year,month,day,hour,minute,second)

In [ ]:
dt.datetime(2010,1,20,8,13,57)

In [ ]:
str(dt.datetime(2010,1,20,17,13,57))# note the use of military time

In [ ]:
str(birthday)

In [ ]:
boyfriend_birthday=dt.datetime(1994,4,1,17,13,24) #note use of military time

In [ ]:
str(boyfriend_birthday)

In [ ]:
boyfriend_birthday.year
boyfriend_birthday.month
boyfriend_birthday.day
boyfriend_birthday.hour
boyfriend_birthday.minute

# The pandas Timestamp object

In [ ]:
import pandas as pd
import datetime as dt

In [ ]:
pd.Timestamp("2021-06-21")  #can use either format of date

In [ ]:
pd.Timestamp("2012/06/03")

In [ ]:
pd.Timestamp("1/2/2015")

In [ ]:
pd.Timestamp("02-20-1997 21:07:01") #can reverse and do month-day-year however pandas would not know day-month-year unless first number is > 12

In [ ]:
pd.Timestamp(dt.datetime(2015,4,2))

# Pandas DatetimeIndex Object

In [ ]:
#basically a container for multiple pandas timestamps

In [ ]:
dates=["01-02-2016","02-20-1997","04-01-1994"]

In [ ]:
pd.DatetimeIndex(dates) #converts strings to timestamps, easy to work w/multiple timestamps

In [ ]:
dates=[dt.datetime(1994,4,1),dt.datetime(1997,2,20),dt.datetime(2000,2,24)]#converts date objects into pandas timestamp objects and bundles into DatetimeIndex to store them all as one. Ideal usage is for DatetimeIndex to serve as the index for one of our objects 
dtindex=pd.DatetimeIndex(dates)

In [ ]:
values=[100,200,300]

In [ ]:
pd.Series(data=values,index=dtindex) #DatetimeIndex now is the Index for series

# The pd.to_datetime() method

In [ ]:
#most common reason is converting a pandas existing series into a datetime object 
pd.to_datetime("04-01-1994")  
pd.to_datetime(dt.datetime(1994,4,1,9,3,1))
pd.to_datetime(dt.date(1997,2,20)) 
pd.to_datetime(['02-20-1997','1994/4/1','2018','July 4,1997']) #can also pass a list 
#can use any format of date, regardless of how fed in, pandas is smart enough to figure out what we are talking about. If give single year pandas assumes jan 1

In [ ]:
times=pd.Series(["03-04-1960","2021/2/4","2019/4/2"]) #creating series and naming it times 
times

In [ ]:
pd.to_datetime(times) #can also gives pandas series, goes in all values in series and converts them all into timestamps and also converts container into for them into a DatetimeIndex object

In [ ]:
date=pd.Series(["july 4, 2021", "2-31-2014","1-1-10","hello"])

In [ ]:
#pd.to_datetime(date)  <- ERROR - cant convert with a string value , error parameter set to 'raise' & means if an error is encountered it raises a red flag, but can change errors perameter to 'coerce'

In [ ]:
pd.to_datetime(date,errors='coerce')

In [ ]:
#a unix is a way to store time in seconds. So by storing datetime as number of seconds it is easy to store as a date in time.

In [ ]:
pd.to_datetime([1349720105, 1349806505, 1349892905, 1349892905, #python list of unix times -> number of seconds since 1/1/1970
               1349979305,], unit='s')                     #to unit parameter give arguement of 's' so pandas knows talking about unix time

# Create Range of Dates with the pd.date_range() method

In [ ]:
times=pd.date_range(start="01/01/2015", end="02/20/2020", freq="D")#date is inclusives -specific the date and that day & the interval (freq parameter) specifies the interval, E.g- set at "D" will increment over start and end date each day, if set at "2D" will proceed in increments of 2 days,"B" means business days only, "W" is short for weekly, "H" is hourly, could do "6H" for every 6 hours, "M" is month ends,"MS" first of every month,"A" stores last day of each year  )

In [ ]:
type(times) #pandas generated DatetimeIndex

In [ ]:
pd.date_range(start="03-01-2018", periods=25, freq="D") #generates datetime index with 25 values since we specified we wanted 25 in our periods parameter

In [ ]:
pd.date_range(start="2012-09-09", periods=25, freq="B") #2012-09-09 would not be included because it is not a business day

In [ ]:
pd.date_range(end="1999-12-31", periods=40, freq="W-SUN") #starts at the end points and moves back one day at a time until it has 20 total values

# The .dt Accessor

In [ ]:
a_bunch_of_dates=pd.date_range(start="02/20/1997", end="02/20/2010", freq="24D")

In [ ]:
s=pd.Series(a_bunch_of_dates)

In [ ]:
s.head(3)   #used the daterange method to create a date range index and passed it as our data source for pandas series constructor, each reprsented as a pandas timestamp

In [ ]:
s.dt.day   #think of using .dt like .str

In [ ]:
s.dt.month  #if wanted to see what day of month most common

In [ ]:
s.dt.day_name() #would be useful for finding day of work week in financial data

In [ ]:
mask=s.dt.is_quarter_start

In [ ]:
s[mask] #pulls only dates from the start of a quarter, could also do s.dt.is_month_start or s.dt.is_month_end

# Import finanical dataset with pandas_datareader Library

In [3]:
import datetime as dt
from pandas_datareader import data as pdr

In [4]:
import requests

In [5]:
import yfinance as yf
import yfinance as yfin
yfin.pdr_override()   #As of July 2021 need to imort yfinance library

In [12]:
stocks=pdr.DataReader(tickers='AMC', data_source='yahoo', start='2015-01-01', end='2021-07-10')

[*********************100%***********************]  1 of 1 completed

In [13]:
stocks

                 Open       High        Low      Close  Adj Close     Volume
Date
2015-01-02  26.260000  26.299999  24.930000  25.629999  18.900267     420900
2015-01-05  25.490000  25.559999  24.930000  24.969999  18.413568     246500
2015-01-06  24.990000  25.600000  24.270000  25.170000  18.561052     271500
2015-01-07  25.309999  25.670000  25.010000  25.580000  18.863400     175400
2015-01-08  25.760000  26.120001  25.309999  25.830000  19.047752     192800
...               ...        ...        ...        ...        ...        ...
2021-07-02  52.770000  53.250000  47.770000  51.959999  51.959999   90271500
2021-07-06  53.459999  55.070000  49.700001  49.959999  49.959999   62370300
2021-07-07  47.700001  48.990002  42.799999  45.070000  45.070000   95320200
2021-07-08  40.950001  49.790001  38.759998  47.939999  47.939999  145078200
2021-07-09  48.369999  48.919998  45.820000  46.189999  46.189999   57699900

[1641 rows x 6 columns]

In [14]:
stocks.values

array([[2.62600002e+01, 2.62999992e+01, 2.49300003e+01, 2.56299992e+01,
        1.89002666e+01, 4.20900000e+05],
       [2.54899998e+01, 2.55599995e+01, 2.49300003e+01, 2.49699993e+01,
        1.84135685e+01, 2.46500000e+05],
       [2.49899998e+01, 2.56000004e+01, 2.42700005e+01, 2.51700001e+01,
        1.85610523e+01, 2.71500000e+05],
       ...,
       [4.77000008e+01, 4.89900017e+01, 4.27999992e+01, 4.50699997e+01,
        4.50699997e+01, 9.53202000e+07],
       [4.09500008e+01, 4.97900009e+01, 3.87599983e+01, 4.79399986e+01,
        4.79399986e+01, 1.45078200e+08],
       [4.83699989e+01, 4.89199982e+01, 4.58199997e+01, 4.61899986e+01,
        4.61899986e+01, 5.76999000e+07]])

In [10]:
stocks.columns

Index(['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [15]:
stocks.index

DatetimeIndex(['2015-01-02', '2015-01-05', '2015-01-06', '2015-01-07',
               '2015-01-08', '2015-01-09', '2015-01-12', '2015-01-13',
               '2015-01-14', '2015-01-15',
               ...
               '2021-06-25', '2021-06-28', '2021-06-29', '2021-06-30',
               '2021-07-01', '2021-07-02', '2021-07-06', '2021-07-07',
               '2021-07-08', '2021-07-09'],
              dtype='datetime64[ns]', name='Date', length=1641, freq=None)

In [16]:
stocks.axes

[DatetimeIndex(['2015-01-02', '2015-01-05', '2015-01-06', '2015-01-07',
                '2015-01-08', '2015-01-09', '2015-01-12', '2015-01-13',
                '2015-01-14', '2015-01-15',
                ...
                '2021-06-25', '2021-06-28', '2021-06-29', '2021-06-30',
                '2021-07-01', '2021-07-02', '2021-07-06', '2021-07-07',
                '2021-07-08', '2021-07-09'],
               dtype='datetime64[ns]', name='Date', length=1641, freq=None),
 Index(['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')]

# Selecting Rows from a DataFrame with a DatetimeIndex

In [17]:
import yfinance as yf
import yfinance as yfin
yfin.pdr_override()
from pandas_datareader import data #As of July 2021 need to import yfinance library 


df = data.get_data_yahoo("AMC", start="2018-01-01", end="2020-12-31")
df

[*********************100%***********************]  1 of 1 completed

             Open   High    Low  Close  Adj Close    Volume
Date
2018-01-02  15.20  15.65  14.90  15.40  12.549152   2257200
2018-01-03  15.45  15.50  14.90  15.00  12.223200   1631000
2018-01-04  15.00  15.10  14.35  14.45  11.775017   2141000
2018-01-05  14.50  14.56  14.05  14.10  11.489808   2009000
2018-01-08  14.30  14.35  13.65  13.80  11.245345   2347400
...           ...    ...    ...    ...        ...       ...
2020-12-23   2.58   2.65   2.54   2.56   2.560000  15724800
2020-12-24   2.59   2.60   2.48   2.51   2.510000  11094200
2020-12-28   2.63   2.63   2.36   2.39   2.390000  23942700
2020-12-29   2.44   2.46   2.28   2.29   2.290000  21086100
2020-12-30   2.30   2.30   2.13   2.16   2.160000  40278400

[755 rows x 6 columns]

In [19]:
df.loc['2018-01-02'] #can work but code below is more efficient

Open         1.520000e+01
High         1.565000e+01
Low          1.490000e+01
Close        1.540000e+01
Adj Close    1.254915e+01
Volume       2.257200e+06
Name: 2018-01-02 00:00:00, dtype: float64

In [20]:
df.loc[pd.Timestamp("2018-01-02")] #better code than method above

Open         1.520000e+01
High         1.565000e+01
Low          1.490000e+01
Close        1.540000e+01
Adj Close    1.254915e+01
Volume       2.257200e+06
Name: 2018-01-02 00:00:00, dtype: float64

In [21]:
df.loc[pd.Timestamp("2020-12-23")]#generally a good idea to wrap the date inside a pandas timestamp object, so create a timestamp object & use that to index

Open                2.58
High                2.65
Low                 2.54
Close               2.56
Adj Close           2.56
Volume       15724800.00
Name: 2020-12-23 00:00:00, dtype: float64

In [22]:
df.loc["2018-01-02":"2018-01-05"] #.loc is inclusive

             Open   High    Low  Close  Adj Close   Volume
Date
2018-01-02  15.20  15.65  14.90  15.40  12.549152  2257200
2018-01-03  15.45  15.50  14.90  15.00  12.223200  1631000
2018-01-04  15.00  15.10  14.35  14.45  11.775017  2141000
2018-01-05  14.50  14.56  14.05  14.10  11.489808  2009000

In [23]:
df.iloc[0] #can also iloc with index postion -> here finding values in each column for index postion 0

Open         1.520000e+01
High         1.565000e+01
Low          1.490000e+01
Close        1.540000e+01
Adj Close    1.254915e+01
Volume       2.257200e+06
Name: 2018-01-02 00:00:00, dtype: float64

In [24]:
df.iloc[500]#can also iloc with index postion -> here finding values in each column for index postion 500

Open         7.300000e+00
High         7.400000e+00
Low          7.200000e+00
Close        7.300000e+00
Adj Close    7.255488e+00
Volume       3.910500e+06
Name: 2019-12-27 00:00:00, dtype: float64

In [25]:
df.loc[[pd.Timestamp("2020-12-23"), pd.Timestamp("2020-12-30")]] #pulling out multiple rows

            Open  High   Low  Close  Adj Close    Volume
Date
2020-12-23  2.58  2.65  2.54   2.56       2.56  15724800
2020-12-30  2.30  2.30  2.13   2.16       2.16  40278400

In [26]:
df.loc["2018-01-01":"2019-01-01"].count()#slicing & method chaining by adding count()

Open         251
High         251
Low          251
Close        251
Adj Close    251
Volume       251
dtype: int64

In [27]:
df.iloc[0:5] #can use iloc to find a range of indexes -exclusive (does not include last value - only up until index position 4)

             Open   High    Low  Close  Adj Close   Volume
Date
2018-01-02  15.20  15.65  14.90  15.40  12.549152  2257200
2018-01-03  15.45  15.50  14.90  15.00  12.223200  1631000
2018-01-04  15.00  15.10  14.35  14.45  11.775017  2141000
2018-01-05  14.50  14.56  14.05  14.10  11.489808  2009000
2018-01-08  14.30  14.35  13.65  13.80  11.245345  2347400

In [28]:
df.iloc[[10,15,30]] #can also pass a list, iloc is exclusive

            Open   High    Low  Close  Adj Close   Volume
Date
2018-01-17  13.7  13.95  13.66  13.75  11.204602  1023800
2018-01-24  13.4  13.65  13.10  13.20  10.756416  1724800
2018-02-14  13.7  14.50  13.70  14.25  11.612041  1981000

# Timestamp object attributes and methods

In [29]:
import yfinance as yf
import yfinance as yfin
yfin.pdr_override()   #As of July 2021 need to imort yfinance library 


AMC = data.get_data_yahoo("AMC", start="2018-12-31", end="2021-07-07")
AMC

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close    Volume
Date
2018-12-31  12.500000  12.720000  11.910000  12.280000  11.350496   1246800
2019-01-02  12.010000  13.080000  11.900000  12.890000  11.914326   1374900
2019-01-03  12.800000  13.540000  12.630000  13.060000  12.071457   1392400
2019-01-04  13.220000  13.690000  13.020000  13.540000  12.515124   1025000
2019-01-07  13.550000  14.260000  13.370000  14.120000  13.051224   1119200
...               ...        ...        ...        ...        ...       ...
2021-06-29  59.060001  61.000000  56.180000  56.430000  56.430000  63604100
2021-06-30  56.000000  58.180000  54.650002  56.680000  56.680000  59020600
2021-07-01  56.860001  57.709999  52.529999  54.220001  54.220001  57549900
2021-07-02  52.770000  53.250000  47.770000  51.959999  51.959999  90271500
2021-07-06  53.459999  55.070000  49.700001  49.959999  49.959999  62370300

[633 rows x 6 columns]

In [30]:
higher_than_62=AMC["High"] > 62

In [31]:
AMC[higher_than_62] #AMC stock vlaues from end of year 2018 to present day with a High greater than 62

                 Open       High        Low      Close  Adj Close     Volume
Date
2021-06-02  37.520000  72.620003  35.590000  62.549999  62.549999  766462500
2021-06-03  58.099998  68.800003  37.660000  51.340000  51.340000  598142200
2021-06-15  58.389999  64.709999  56.730000  59.040001  59.040001  285582100
2021-06-17  54.000000  63.830002  52.980000  60.730000  60.730000  303576000
2021-06-18  61.259998  64.959999  56.849998  59.259998  59.259998  243645900
2021-06-21  61.340000  63.009998  53.430000  55.689999  55.689999  185876100

In [32]:
twomonths = AMC.loc["2021-06-01":"2021-07-07"]
twomonths

                 Open       High        Low      Close  Adj Close     Volume
Date
2021-06-01  31.889999  33.529999  28.530001  32.040001  32.040001  508694600
2021-06-02  37.520000  72.620003  35.590000  62.549999  62.549999  766462500
2021-06-03  58.099998  68.800003  37.660000  51.340000  51.340000  598142200
2021-06-04  48.790001  57.480000  46.040001  47.910000  47.910000  337710100
2021-06-07  52.380001  59.680000  51.500000  55.000000  55.000000  349094900
...               ...        ...        ...        ...        ...        ...
2021-06-29  59.060001  61.000000  56.180000  56.430000  56.430000   63604100
2021-06-30  56.000000  58.180000  54.650002  56.680000  56.680000   59020600
2021-07-01  56.860001  57.709999  52.529999  54.220001  54.220001   57549900
2021-07-02  52.770000  53.250000  47.770000  51.959999  51.959999   90271500
2021-07-06  53.459999  55.070000  49.700001  49.959999  49.959999   62370300

[25 rows x 6 columns]

In [33]:
higher_than_60 = twomonths["High"]>=60

In [34]:
good_day = twomonths[higher_than_60] #AMC High >= 60

In [35]:
birthdays = pd.date_range(start="02/20/1997",end="12/31/2021",freq=pd.DateOffset(years=1)) #will look at same date each year

In [36]:
bday_stocks = stocks.index.isin(birthdays)

In [37]:
stocks[bday_stocks] #AMC stocks that fall on my birthday

                 Open   High        Low      Close  Adj Close   Volume
Date
2015-02-20  32.580002  32.66  32.040001  32.610001  24.047518   314700
2018-02-20  14.650000  15.00  14.310000  14.500000  11.815761  2002300
2019-02-20  13.320000  13.88  13.250000  13.670000  12.635283  1771600
2020-02-20   7.320000   7.78   7.210000   7.760000   7.712683  3649100

In [38]:
someday=stocks.index[500] #datetime index is bundle of timestamp object-> each timestamp object represents a date time ( a given momemnt in time)

In [39]:
someday

Timestamp('2016-12-27 00:00:00')

In [40]:
#some available methods to use to get information on this timestamp object
someday.month
someday.year  #can invoke any of these on a datetime index
someday.is_month_start
someday.is_month_end
someday.is_quarter_end
someday.is_quarter_start
someday.day

27

In [41]:
someday.month_name()

'December'

In [42]:
stocks.index.day_name()

Index(['Friday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday',
       'Monday', 'Tuesday', 'Wednesday', 'Thursday',
       ...
       'Friday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday',
       'Tuesday', 'Wednesday', 'Thursday', 'Friday'],
      dtype='object', name='Date', length=1641)

In [43]:
stocks.insert(0, "Day of Week", stocks.index.day_name()) #add day of week column at index 0

In [44]:
stocks

,Day of Week,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,,
2015-01-02,Friday,26.260000,26.299999,24.930000,25.629999,18.900267,420900
2015-01-05,Monday,25.490000,25.559999,24.930000,24.969999,18.413568,246500
2015-01-06,Tuesday,24.990000,25.600000,24.270000,25.170000,18.561052,271500
2015-01-07,Wednesday,25.309999,25.670000,25.010000,25.580000,18.863400,175400
2015-01-08,Thursday,25.760000,26.120001,25.309999,25.830000,19.047752,192800
...,...,...,...,...,...,...,...
2021-07-02,Friday,52.770000,53.250000,47.770000,51.959999,51.959999,90271500
2021-07-06,Tuesday,53.459999,55.070000,49.700001,49.959999,49.959999,62370300
2021-07-07,Wednesday,47.700001,48.990002,42.799999,45.070000,45.070000,95320200
2021-07-08,Thursday,40.950001,49.790001,38.759998,47.939999,47.939999,145078200
2021-07-09,Friday,48.369999,48.919998,45.820000,46.189999,46.189999,57699900

In [45]:
stocks.index.day_name()

Index(['Friday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday',
       'Monday', 'Tuesday', 'Wednesday', 'Thursday',
       ...
       'Friday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday',
       'Tuesday', 'Wednesday', 'Thursday', 'Friday'],
      dtype='object', name='Date', length=1641)

In [46]:
stocks.insert(1, "is_start_of_month", stocks.index.is_month_start)

In [47]:
stocks[stocks["is_start_of_month"]]

,Day of Week,is_start_of_month,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,,,
2015-04-01,Wednesday,True,35.369999,35.619999,34.180000,34.759998,25.780092,326800
2015-05-01,Friday,True,30.250000,30.860001,30.110001,30.750000,22.806034,426500
2015-06-01,Monday,True,28.680000,28.690001,27.090000,28.000000,20.766472,742400
2015-07-01,Wednesday,True,30.940001,31.100000,30.250000,30.379999,22.691191,280800
2015-09-01,Tuesday,True,28.559999,28.750000,27.650000,27.709999,20.696938,242900
...,...,...,...,...,...,...,...,...
2021-02-01,Monday,True,17.000000,17.250000,12.910000,13.300000,13.300000,434608000
2021-03-01,Monday,True,8.860000,9.450000,8.420000,9.180000,9.180000,143586500
2021-04-01,Thursday,True,10.230000,10.260000,9.150000,9.360000,9.360000,77473900
2021-06-01,Tuesday,True,31.889999,33.529999,28.530001,32.040001,32.040001,508694600
2021-07-01,Thursday,True,56.860001,57.709999,52.529999,54.220001,54.220001,57549900

# The pd.DateOffset object

In [48]:
import yfinance as yf
import yfinance as yfin
yfin.pdr_override()   #As of July 2021 need to imort yfinance library 


AMC = data.get_data_yahoo("AMC", start="2018-12-31", end="2021-07-07")
AMC

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close    Volume
Date
2018-12-31  12.500000  12.720000  11.910000  12.280000  11.350496   1246800
2019-01-02  12.010000  13.080000  11.900000  12.890000  11.914326   1374900
2019-01-03  12.800000  13.540000  12.630000  13.060000  12.071457   1392400
2019-01-04  13.220000  13.690000  13.020000  13.540000  12.515124   1025000
2019-01-07  13.550000  14.260000  13.370000  14.120000  13.051224   1119200
...               ...        ...        ...        ...        ...       ...
2021-06-29  59.060001  61.000000  56.180000  56.430000  56.430000  63604100
2021-06-30  56.000000  58.180000  54.650002  56.680000  56.680000  59020600
2021-07-01  56.860001  57.709999  52.529999  54.220001  54.220001  57549900
2021-07-02  52.770000  53.250000  47.770000  51.959999  51.959999  90271500
2021-07-06  53.459999  55.070000  49.700001  49.959999  49.959999  62370300

[633 rows x 6 columns]

In [49]:
#if want to increase each date by 5 days in DatetimeIndex 
#cant just do stocks.index +5
stocks.index + pd.DateOffset(days=5,hours=3,minutes=4) #adds 5 days,3 hours,and 4 minutes to each DatetimeIndex
stocks.index - pd.DateOffset(days=5,hours=3,minutes=3)#subtracts 5 days, 3 hours, and 4 minutes to each DatetimeIndex

DatetimeIndex(['2014-12-27 20:57:00', '2014-12-30 20:57:00',
               '2014-12-31 20:57:00', '2015-01-01 20:57:00',
               '2015-01-02 20:57:00', '2015-01-03 20:57:00',
               '2015-01-06 20:57:00', '2015-01-07 20:57:00',
               '2015-01-08 20:57:00', '2015-01-09 20:57:00',
               ...
               '2021-06-19 20:57:00', '2021-06-22 20:57:00',
               '2021-06-23 20:57:00', '2021-06-24 20:57:00',
               '2021-06-25 20:57:00', '2021-06-26 20:57:00',
               '2021-06-30 20:57:00', '2021-07-01 20:57:00',
               '2021-07-02 20:57:00', '2021-07-03 20:57:00'],
              dtype='datetime64[ns]', name='Date', length=1641, freq=None)

# Timeseries Offsets

In [50]:
stocks=data.DataReader(tickers='AMC',start="2019-01-01",end="2021-07-08")

[*********************100%***********************]  1 of 1 completed

In [51]:
stocks.head(3)

             Open   High    Low  Close  Adj Close   Volume
Date
2019-01-02  12.01  13.08  11.90  12.89  11.914326  1374900
2019-01-03  12.80  13.54  12.63  13.06  12.071457  1392400
2019-01-04  13.22  13.69  13.02  13.54  12.515124  1025000

In [61]:
stocks.index

DatetimeIndex(['2019-01-02', '2019-01-03', '2019-01-04', '2019-01-07',
               '2019-01-08', '2019-01-09', '2019-01-10', '2019-01-11',
               '2019-01-14', '2019-01-15',
               ...
               '2021-06-23', '2021-06-24', '2021-06-25', '2021-06-28',
               '2021-06-29', '2021-06-30', '2021-07-01', '2021-07-02',
               '2021-07-06', '2021-07-07'],
              dtype='datetime64[ns]', name='Date', length=633, freq=None)

In [52]:
stocks.head()

             Open   High    Low  Close  Adj Close   Volume
Date
2019-01-02  12.01  13.08  11.90  12.89  11.914326  1374900
2019-01-03  12.80  13.54  12.63  13.06  12.071457  1392400
2019-01-04  13.22  13.69  13.02  13.54  12.515124  1025000
2019-01-07  13.55  14.26  13.37  14.12  13.051224  1119200
2019-01-08  14.21  14.70  14.09  14.57  13.467159  1122700

# Time Series Offsets

In [57]:
stocks.index + pd.tseries.offsets.MonthEnd() #MonthEnd is a class -> used if want to add dynamic amount of time for each datetime(e.g- want to round date to end of the month)

DatetimeIndex(['2019-01-31', '2019-01-31', '2019-01-31', '2019-01-31',
               '2019-01-31', '2019-01-31', '2019-01-31', '2019-01-31',
               '2019-01-31', '2019-01-31',
               ...
               '2021-06-30', '2021-06-30', '2021-06-30', '2021-06-30',
               '2021-06-30', '2021-07-31', '2021-07-31', '2021-07-31',
               '2021-07-31', '2021-07-31'],
              dtype='datetime64[ns]', name='Date', length=633, freq=None)

In [68]:
#if you have a datetime that is actually at the end of a month, pandas does not consider it to meet the treshhold, for the code above it will take next month last day of month as DatetimeIndex

In [69]:
stocks.index - pd.tseries.offsets.MonthEnd() #->previous month end going backwards, so will take last day of month as DatetimeIndex

DatetimeIndex(['2018-12-31', '2018-12-31', '2018-12-31', '2018-12-31',
               '2018-12-31', '2018-12-31', '2018-12-31', '2018-12-31',
               '2018-12-31', '2018-12-31',
               ...
               '2021-05-31', '2021-05-31', '2021-05-31', '2021-05-31',
               '2021-05-31', '2021-05-31', '2021-06-30', '2021-06-30',
               '2021-06-30', '2021-06-30'],
              dtype='datetime64[ns]', name='Date', length=633, freq=None)

In [70]:
stocks.index + pd.tseries.offsets.MonthBegin() #beginnning of month moving foward

DatetimeIndex(['2019-02-01', '2019-02-01', '2019-02-01', '2019-02-01',
               '2019-02-01', '2019-02-01', '2019-02-01', '2019-02-01',
               '2019-02-01', '2019-02-01',
               ...
               '2021-07-01', '2021-07-01', '2021-07-01', '2021-07-01',
               '2021-07-01', '2021-07-01', '2021-08-01', '2021-08-01',
               '2021-08-01', '2021-08-01'],
              dtype='datetime64[ns]', name='Date', length=633, freq=None)

In [71]:
stocks.index - pd.tseries.offsets.MonthBegin() #beginning of month moving backwards

DatetimeIndex(['2019-01-01', '2019-01-01', '2019-01-01', '2019-01-01',
               '2019-01-01', '2019-01-01', '2019-01-01', '2019-01-01',
               '2019-01-01', '2019-01-01',
               ...
               '2021-06-01', '2021-06-01', '2021-06-01', '2021-06-01',
               '2021-06-01', '2021-06-01', '2021-06-01', '2021-07-01',
               '2021-07-01', '2021-07-01'],
              dtype='datetime64[ns]', name='Date', length=633, freq=None)

In [72]:
#can do this in a simplier way. 
from pandas.tseries import offsets #allows us to avoid long previx when refferincing offsets

In [73]:
stocks.index + offsets.MonthEnd() #simple, reduces name collisions and no need for long reference

DatetimeIndex(['2019-01-31', '2019-01-31', '2019-01-31', '2019-01-31',
               '2019-01-31', '2019-01-31', '2019-01-31', '2019-01-31',
               '2019-01-31', '2019-01-31',
               ...
               '2021-06-30', '2021-06-30', '2021-06-30', '2021-06-30',
               '2021-06-30', '2021-07-31', '2021-07-31', '2021-07-31',
               '2021-07-31', '2021-07-31'],
              dtype='datetime64[ns]', name='Date', length=633, freq=None)

In [75]:
stocks.index + offsets.BMonthEnd() #gets you the business month end (last friday or last weekday) -> for every offset there is a business version of it

DatetimeIndex(['2019-01-31', '2019-01-31', '2019-01-31', '2019-01-31',
               '2019-01-31', '2019-01-31', '2019-01-31', '2019-01-31',
               '2019-01-31', '2019-01-31',
               ...
               '2021-06-30', '2021-06-30', '2021-06-30', '2021-06-30',
               '2021-06-30', '2021-07-30', '2021-07-30', '2021-07-30',
               '2021-07-30', '2021-07-30'],
              dtype='datetime64[ns]', name='Date', length=633, freq=None)

In [76]:
stocks.index - offsets.BMonthEnd()

DatetimeIndex(['2018-12-31', '2018-12-31', '2018-12-31', '2018-12-31',
               '2018-12-31', '2018-12-31', '2018-12-31', '2018-12-31',
               '2018-12-31', '2018-12-31',
               ...
               '2021-05-31', '2021-05-31', '2021-05-31', '2021-05-31',
               '2021-05-31', '2021-05-31', '2021-06-30', '2021-06-30',
               '2021-06-30', '2021-06-30'],
              dtype='datetime64[ns]', name='Date', length=633, freq=None)

# The Timedelta Object

In [88]:
time_a=pd.Timestamp("2020-03-31 04:35:16")
time_b=pd.Timestamp("2020-03-20 02:15:49")
#a Timestamp is a given moment in time(something we can plot on a calender), in comparison the time delta represents a time span(a duration of time or span of time) it is not connected to a specific date, simply a measurment of time. Time delta translates to distance between two times

In [89]:
time_a - time_b #subtracting the two time stamps gives us a Timedelta object automatically created from pandas library  -> indepedent of certain time or date, only a distance

Timedelta('11 days 02:19:27')

In [90]:
time_b - time_a #can have negative time delta (12 days in the future) vs 11 days in the past

Timedelta('-12 days +21:40:33')

In [92]:
time_a + pd.Timedelta(weeks=8, days=3, hours=12, minutes=45, seconds=20 ) #Years parameter doesnt work but can add a period of time to original timestamp -> returns 3 days after the timestamp 2020-03-31 04:35:16

Timestamp('2020-05-29 17:20:36')

In [95]:
pd.Timedelta("5 minutes") 
pd.Timedelta ("6 hours 5 minutes 2 seconds")
pd.Timedelta("10 days 5 hours 2 minutes 30 seconds")#can also feed strings into Timedelta

Timedelta('10 days 05:02:30')