In [5]:
import os
import pandas as pd
import datetime as dt
from pandas.tseries import offsets

In [2]:
os.getcwd()

'C:\\Users\\18174'

In [3]:
os.chdir("C:\\Users\\18174\\Downloads\\pandas\\pandas")

In [13]:
shipping=pd.read_csv("ecommerce.csv", index_col="ID", parse_dates=['order_date','delivery_date']) # first set index column to ID

In [14]:
shipping.head(3)

   order_date delivery_date
ID
1  1998-05-24    1999-02-05
2  1992-04-22    1998-03-06
4  1991-02-10    1992-08-26

In [25]:
#if want to find out how long it took to get items 
shipping['delivery_time'] = shipping['delivery_date'] - shipping['order_date']

In [27]:
shipping.head(3)

   order_date delivery_date delivery_time
ID
1  1998-05-24    1999-02-05      257 days
2  1992-04-22    1998-03-06     2144 days
4  1991-02-10    1992-08-26      563 days

In [34]:
shipping["twice as long"]=shipping['delivery_date'] + shipping['delivery_time'] #duration + specific moment in time=new moment in time

In [39]:
shipping.drop("delivery_times",axis=1,inplace=True)

In [40]:
shipping.dtypes

order_date        datetime64[ns]
delivery_date     datetime64[ns]
delivery_time    timedelta64[ns]
twice as long     datetime64[ns]
dtype: object

In [44]:
over_a_year=shipping['delivery_time'] > "365 days"

In [45]:
shipping[over_a_year] #delivery times that took more than a year

    order_date delivery_date delivery_time twice as long
ID
2   1992-04-22    1998-03-06     2144 days    2004-01-18
4   1991-02-10    1992-08-26      563 days    1994-03-12
5   1992-07-21    1997-11-20     1948 days    2003-03-22
7   1993-09-02    1998-06-10     1742 days    2003-03-18
9   1990-01-25    1994-10-02     1711 days    1999-06-09
..         ...           ...           ...           ...
986 1990-12-10    1992-12-16      737 days    1994-12-23
990 1991-06-24    1996-02-02     1684 days    2000-09-12
991 1991-09-09    1998-03-30     2394 days    2004-10-18
993 1990-11-16    1998-04-27     2719 days    2005-10-06
997 1990-01-04    1991-10-03      637 days    1993-07-01

[394 rows x 4 columns]

In [46]:
shipping['delivery_time'].max() #max shipping time

Timedelta('3583 days 00:00:00')

In [47]:
shipping['delivery_time'].min() #min shipping time

Timedelta('8 days 00:00:00')

In [48]:
shipping['delivery_time'].mean() #average shipping time

Timedelta('1217 days 22:53:53.532934')